.body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #030303;
	text-rendering: optimizeLegibility;
	font-weight: initial;
    background-color: #aff390;
    
}

.navbar{
    background-color: #f7faf6;
}
.navbar .nav-items{
    text-decoration: none;
    list-style: none;
    position: relative;
    
}

a {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}



.postcard {
    width: 70rem;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #030303;
    background-color: #f7faf6;
}
.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #aff390, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
.postcard:hover .postcard__bar {
    width: 100px;
  }

a {
    color: white;
    text-decoration: none;
  }
	
h1,	.h1 
{
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #1d1c1c;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }
.postcard__tagbox 
{
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;
  
}
.tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}
.tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
  }